/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.title-home {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.5px;
    text-align: center;
    margin-bottom: 20px;
    color: #949494;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

h1 {
   letter-spacing: 2.5px;
}

#submit-interests {
  position: fixed;
  background: white;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
