/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.title-home {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.5px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;

  h1 {
     letter-spacing: 2.5px;
  }

  p {
    letter-spacing: 2.5px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
  }
}

#submit-interests {
  // position: fixed;
  font-family: 'Montserrat', sans-serif;
  background: white;
  width: 30vw;
  height: 250px;
  top: 50%;
  left: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  // h1 {
  //   margin: 50px;
  // }

   p {
    letter-spacing: 2.5px;
    font-family: 'Montserrat', sans-serif;
    margin: -20px 0 11px
  }
}

// .btn_home {
//   margin-bottom: 50px;
// }
