<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-users-listing">
          <h1 class="titles">BUDDIES WHO LOOK LIKE ME</h1>
          <h2 class="titles">I love: <%= "#{@interests.pluck(:name).join(', ').downcase}"%></h2>
          <p><%= link_to 'Edit interests', root_path%></p>
          <% @users.each do |user| %>
          <br>
          <div class="padded-user-cards">
          <%= link_to "#{user.first_name}, #{user.age}", user_path(user), class: "btn-medium btn-medium:hover"%>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>
      <% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
      <% end %>
    </div>
  </div>
</div>


