<iframe src="https://appear.in/travel-crush-<%= @request.receiver_id %>-<%= @request.sender_id %>" frameborder="0"></iframe>


<div class="container">
  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <div class="ui segment">
    <div class="messages_container">
      <%= render 'messages/index'  %>
    </div>
  </div>
</div>
