/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.min-height {
  min-height: 100vh;
}
.banner {
  border: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  background-position: center center;
  align-items: center;
  justify-content: center;
  height: 50vh;

   h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;

  }

  p {
  font-size: 15px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  justify-content: center;
  }
}

#map {
  margin-top: 17px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
}

.picto {
  width: 40px;
  padding-top: 80px;
}
