<!-- <h3>My notifications</h3> -->
<% requests.each do |request| %>
  <% if request.receiver == current_user %>
    <br>
    <p>From <%= link_to "#{request.sender}", user_path(request.sender) %>
    <% if request.pending? %>
      <%= render "requests/notifications/edit", request: request %>
    <% else %>
      <span></p>
        <%= "- #{request.status.to_s} -" %>
      </span>
    <% end %>

    <% if request.accepted? %>
      <%= link_to "Chat room", request_path(request) %>
    <% end %>
  <% end %>
<% end %>
