.card-interest-wrapper {

  input[type="checkbox"] {
    display: none;
  }
  .card-interest {
    position: relative;
    width: 30vw;
    height: 250px;
    display: block;
    background-size: cover;
    margin-bottom: -15px;
  }

  input[type="checkbox"]:checked + .card-interest {
    box-shadow: inset 0 0 30px black;
  }

  .card-interest-name {
    color: white;
    display: block;
    background-size: cover;
    font-family: 'Open-s', sans-serif;
    font-weight:bold;
    font-size: 15px;
    letter-spacing: 2.5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-transform: uppercase;
  }
}

.user_interest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

