.card-users-listing {
  // border-color: #333;
  // border-radius: 10px;
  // padding: 0px 18px 30px 20px;
  // width: 480px;
  // background: #F4F4F4;
  // border-radius: 5px;
}

.container_style {
  letter-spacing: 2.5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.5px;
  // margin-bottom: 25px;
  vertical-align: middle !important;
  box-sizing: border-box;
  padding: 1px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: white;
  margin-bottom: 15px;


  h1 {
    color: white;
    text-transform: uppercase;
    // border-bottom: 1px solid #eee;
  }
}

.card-users-listing p a {
  color: #333;
  // text-decoration: none;
  font-size: 13px;
}

.card-users-avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #FFE24F;
}

.test-users-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #FFE24F;
  position: absolute;
  top: 15%;
  left: calc(50% - 40px);
}

.globe-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 75%;
  left: calc(50% - 30px);
}

.test-card {
  color:white;
  height: 230px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.5px solid #F2F2F0;
  border-radius: 5px;
  margin-bottom: 30px;

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color:black;
    // position: absolute;
    top: 50%;
    text-align: center;
    margin-top: 10px;
  }
}

.test-card-requests {
  color:white;
  width : 49%;
  height: 230px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.5px solid #F2F2F0;
  border-radius: 5px;
  margin-bottom: 30px;

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color:black;
    // position: absolute;
    top: 50%;
    text-align: center;
    margin-top: 10px;
  }
}

.test-card-top {
  height: 35%;
  width: 100%;
  border-bottom: 1px solid white;
  background-position: center center;
  background-size: cover;
  filter: blur(4px);
  overflow: hidden;
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  border-bottom: 1px;
}

.test-card-bottom {
  background-color: white;
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-medium:hover {
  opacity: 1;
}

.btn-user-listing {
  margin-top: 15px;
  border: 2px solid #FFE24F;
}

.accepted-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  min-height: 352px;
}




















