.card-users-listing {
  border: 2px solid;
  border-color: #333;
  // border-radius: 10px;
  padding: 0px 18px 30px 20px;
  width: 480px
}

.card-users-listing p a {
  color: #333;
  // text-decoration: none;
  font-size: 13px;
}
