<div class="user-container">
  <!-- <h3>My Requests</h3> -->
  <% requests.each do |request| %>
    <% if request.sender == current_user %>
      <br>
      <p>To <%= link_to "#{request.receiver}", user_path(request.receiver) %>
      <span>
          <%= "#{request.status.to_s}" %>
      </span></p>
    <% end %>

    <% if request.accepted? %>
      <%= link_to "Chat video", request_path(request) %>
    <% end %>
  <% end %>
</div>
