<h3>My Requests</h3>
<% current_user.requests.each do |request| %>
  <% if request.sender == current_user %>
  <br>
    <%= "To #{request.receiver}" %>
    <span>
        <%= "--- #{request.status.to_s} ---" %>
    </span>
  <% end %>
<% end %>
